body {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 600px;
}

input {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(233, 0, 19);
  color: white;
  transition: .3s;
}

button:hover {
  background-color: rgb(117, 0, 15);
  transition: .3s;  
}

#search { 
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
} 

#searchbttn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-style: none;
  margin-right: 1.5rem;
}

#search-bar {
  display: flex;

}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#results {
  padding-top: 3rem;
  font-family: 'VT323', monospace;
  font-size: 20pt;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 5rem;
  background-image: url(Grid.jpg);
}

.hidden {
  display: none !important;
}

.box {
  display: flex;
}

.box:nth-child(2) {
  background-color: rgb(117, 0, 15);
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  border: 2px solid black;
  border-radius: 4px;
  flex-direction: column;
  
}

div.box .box:nth-last-child(2) {
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  justify-content: right;
  align-items: center;
  border: none;
}

div.box .box:nth-of-type(2) {
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  justify-content: right;
  align-items: flex-end;;
  display: flex;
  border: none;
}

.box > .box > .box {
  background-color: transparent;
  padding: .5rem;
  display: flex;
  border: none;
  width: 12rem;
  justify-content: space-between;
}

#results > .box:last-child > .box {
  background-color: white;
  border: 3px solid rgb(249, 101, 98);
  width: 85%;
  flex: 1;
  padding: 1rem;
}

#pokemonimg {
  width: 200px;
  height: 200px;
  border: none;
}

#name {
  background-color: rgb(233, 0, 19);
  border: 3px solid rgb(117, 0, 15);
  border-bottom: 3px solid rgb(249, 101, 98);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: white; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: capitalize;
  padding-left: 1rem;
  width: 100%;
}

#genus {
  background-color: white;
  border: 3px solid rgb(117, 0, 15);
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  padding-left: 1rem;
}

#height {
  background-color: white;
  border: 3px solid black;
  border-bottom: 3px dashed rgba(0, 0, 0, 0.25);
  width: 13rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding-left: 1rem;
}

#weight{
  background-color: white;
  border: 3px solid black;
  border-top: none;
  width: 13rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-left: 1rem;
}

.box > .box > .box > span{
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 4px;
  padding: 5px;
  width: 5rem;
  text-align: center;
}